body {
    margin: 0;
    overflow: hidden;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Muli', sans-serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Oxygen', sans-serif; */
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 7% 250px 1fr 7% 5%;
    grid-template-rows: 125px 100px 50px 2% 1fr 3%;
}

.achtergrond {
    grid-column: 2/6;
    grid-row: 1/7;
    /* background-color: #e1e1ee; */
    z-index: -100;
}

.logo {
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: #8e91aa;
    z-index: 0;
    border-radius: 9px;
    box-shadow: 2px 3px #494a66;
    display: flex;
    align-items: center;
}

.links {
    grid-column: 4/5;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card {
	position:relative;
	width:33.33%;
	height:100px;
	/* margin:auto; */
    -webkit-perspective:1000;
    display: flex;
    text-align: center;
    line-height: 85px;
    font-size: 35px;
}

.front, .back {
	position:absolute;
	width:100%;
	height:100%;
	-webkit-backface-visibility:hidden;
    transition:1.5s;
    transform-style:preserve-3d;
    vertical-align: center;
    box-shadow: 2px 3px #414266bd;
    border-radius: 6px;
    color: #ffffff;
}

.front { background-color:#b7bada; }

.back { background-color:#8587aa;
        -webkit-transform:rotateX(180deg); }

.card:hover .front {
	-webkit-transform:rotateX(-180deg);
}

.card:hover .back {
	-webkit-transform:rotateX(0deg);
}

.titel {
    grid-column: 3/5;
    grid-row: 3/4;
    /* background-color: #A3A5E5; */
    position: relative;
    width: 100%;

}

.titel h2 {
    width: 60%;
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-align: center;
    /* background-color: #A3A5E5; */
    box-shadow: 3px 4px #626494bd;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.content {
    grid-column: 3/5;
    grid-row: 5/6;
    background-color: #8e9cb7;
    border-radius: 5px;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 2px 3px #414266bd;
    width: 80%;
    margin: 0 auto;
}

table.blueTable {
    border: 2px solid #000000;
    background-color: #898bb1;
    width: 100%;
    /* height: 200px; */
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #4A4A4A;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 17px;
    color: #153d95;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
    /* font-family: 'Consolas'; */
  }

  .content a {
      text-decoration: none;
  }

  .content a:visited {
      text-decoration: none;
  }

  .content a:link {
      text-decoration: none;
  }

  table.blueTable tr:nth-child(even) {
    background: #babcff;
  }
  table.blueTable thead {
    background: #5B5C7F;
    background: -moz-linear-gradient(top, #84859f 0%, #6b6c8b 66%, #5B5C7F 100%);
    background: -webkit-linear-gradient(top, #84859f 0%, #6b6c8b 66%, #5B5C7F 100%);
    background: linear-gradient(to bottom, #84859f 0%, #6b6c8b 66%, #5B5C7F 100%);
    border-bottom: 3px solid #000000;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #B5B8FF;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }

.nav_vereniging {
    grid-column: 4/5;
    grid-row: 2/3;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.knopje {
    width: 130px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    background-color: #8e91aa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 7px;
    color: white;
    box-shadow: 5px 6px #3b3c5cbd;
}

.knopje:hover {
    background-color: #7c7ea0;
    box-shadow: 5px 6px #2a2b42bd;
}

.knopje:active{
    background-color: #8e91aa;
    box-shadow: 2px 3px #3b3d5cbd;
    transform: translateX(3px);
    transform: translateY(3px);
}

.knopje_vereniging {
    width: 130px;
    height: 70px;
    background-color: #8e91aa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 7px;
    color: white;
    box-shadow: 5px 6px #3b3c5cbd;
    margin-bottom: 30px;
}

.knopje_vereniging:hover {
    background-color: #8587aa;
    box-shadow: 5px 6px #2a2b42bd;
}