.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card {
	position:relative;
	width:33.33%;
	height:100px;
	/* margin:auto; */
    -webkit-perspective:1000;
    display: flex;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
}

.front, .back {
	position:absolute;
	width:100%;
	height:100%;
	-webkit-backface-visibility:hidden;
    transition:1.5s;
    transform-style:preserve-3d;
    vertical-align: center;
}

.front { background-color:#b7bada; }

.back { background-color:#8587aa;
        -webkit-transform:rotateX(180deg); }

.card:hover .front {
	-webkit-transform:rotateX(-180deg);
}

.card:hover .back {
	-webkit-transform:rotateX(0deg);
}